/* .button-style {
    width: 150px;
    height: 50px;
    padding: 0 20px;
    border-radius: 25px;
    background-color: transparent;
    box-shadow: 1px 1px 8px #e4e0df;
      transition: all 0.5s;
      font-size: 16px;
      font-weight: 600;
      border: 1px solid aqua;
      color: white;
  }
  .button-style:hover{
    box-shadow: 1px 1px 10px rgb(136, 255, 255);
    color: aqua;
  } */

button {
  position: absolute;
  width: 180px;
  height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  text-align: center;
  transition: all 0.5s;
  font-weight: 400;
}

button svg, button svg rect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: transparent;
}

button svg rect {
  stroke: aqua;
  /* stroke: #00ff62; */
  stroke-width: 4;
  transition: 2s;
  stroke-dasharray: 50 180;
  stroke-dashoffset: 260;

}

button:hover {
  color: aqua;
}

button:hover svg rect {
  /* stroke: aqua; */
  stroke: #00ff62;
  stroke-dasharray: 180 50;
  stroke-dashoffset: 0;
}