.header-style {
    background-color: #21232e;
    height: 100vh;
}

/* @media (max-width: 1023px) {
    .header-style {
        background-color: #21232e;
        height: 145vh;
    }
}
@media (max-width:768px) {
    .header-style{
        padding-top: 30px;
        height: 145vh;
    }    
}
@media (max-width:425px) {
    .header-style{
        height: 135vh;
    }    
}
@media (max-width:375px) {
    .header-style{
        height: 145vh;
    }    
} */