.navLink-style {
    color: white;
    transition: all 0.5s;
    padding: 8px 20px;
    list-style: none;
    margin-left: 5px;
}

.navLink-style:hover {
    background-color: aqua;
    color: red;
}

.title-style {
    /* display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    border: 1px solid aqua;
    padding: 8px 20px;
    transition: all 0.5s;
    position: relative;
    border-radius: 10px; */
}

/* .title-style:hover {
     border: none;
     color: black;
     border: 1px solid transparent;
     border-radius: 3px;
     background-color: aqua;
} */
@media (max-width: 767px) {
    .title-style{
        border: none;
    }
}

.title-style{
    position:relative;
    font-size:1rem;
    font-family:sans-serif;
    -webkit-text-stroke:0.1vw #383d52;
    text-transform:uppercase;
}
.title-style::before{
    content: attr(data-text);
    position:absolute;
    top:0;
    left:0;
    width:0%;
    height:100%;
    color:#4fed51;

    -webkit-text-stroke:0vw #383d52;
    border-right:2px solid #4fed51;
    overflow:hidden;
    /* transition:animate 6s linear infinite; */
     animation:animate 6s linear infinite;

}
@keyframes animate{
    0%{
    width:0;
}
70%{
    width:100%;
}
}